.DS_Store
/aerie
/aerie-ui
/build
.cache-loader
.docusaurus
.env.local
.env.development.local
.env.test.local
.env.production.local
/node_modules
npm-debug.log*
/pdf
yarn-debug.log*
yarn-error.log*
.idea
.vscode
