/* body {
  background: var(--ifm-color-secondary-light);
} */

.hero {
  align-items: left;
}

.heroBanner {
  padding: 10rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  gap: 2rem;
}

.imgFullscreen {
  padding-top: 6rem;
  width: 100%;
}

.heroButton {
  background-color: var(--ifm-color-primary-light);
  color: white !important;
}

.heroButton:hover {
  background-color: var(--ifm-color-primary-lightest);
}
